html {font-size: 1em;}

body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: #222;
    letter-spacing: 1px;
    text-transform: capitalize;
}

p {
    margin-bottom: 1.3em;
    line-height: 1.7;
    text-transform: none;
}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2px;
}
  
h1 {
    margin-top: 0;
    font-size: 3.598em;
}
  
h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: rgb(19, 112, 77);
}

/* img {
    max-width: 100%;
} */

.hide {
    display: none;
}

.display {
    display: block !important;
}

.line {
    height: 0;
    width: 4rem;
    display: inline-block;
    vertical-align: middle;
    border-top: .1rem solid;
    top: -.1rem;
    position: relative;
    margin-right: 10px;
    color: white;
}

.clear {
    clear: both;
    padding: 0 0 5%;
}

hr {
    border-top: .1rem solid;
    height: 0;
    max-width: 20%;
    text-align: center;
    margin: 30% auto;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0.6;
  }




/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (max-width: 653px) and (min-width: 320px) {
    h1 {
    margin-top: 0;
    font-size: 2.074em;
    }
    
    h2 {font-size: 1.728em;}
    
    h3 {font-size: 1.44em;}
    
    h4 {font-size: 1.2em;}
}

/* Tablet */
@media only screen and (max-width: 1280px) and (min-width: 653px) {
    h1 {
    margin-top: 0;
    font-size: 2.957em;
    }
    
    h2 {font-size: 2.369em;}
    
    h3 {font-size: 1.777em;}
    
    h4 {font-size: 1.333em;}
}

/* Desktop */
@media only screen and (max-width: 9000px) and (min-width: 1280px) {

}