/* css */
@import 'reset.css';
@import 'base.css';


.container {
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    padding: 0 0 0 2rem;
}

.header a {
    text-decoration: none;
}

.child{
    margin-top: 2%;
}